* {
  box-sizing: border-box;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: auto;
}
form {
  width: 400px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2e2f42;
}
.delay {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: flex-start;
}
input[type='number'] {
  display: flex;
  padding: 8px 16px;
  border: 2px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  margin-bottom: 16px;
  outline: none;
}
input[type='number']:hover {
  border: 1px solid #000;
}
input[type='number']:focus {
  border: 1px solid #4e75ff;
}
input[type='number']:disabled {
  background: #f0f0f0;
  border-color: #c6c6c6;
  color: #7a7a7a;
  cursor: not-allowed;
}

fieldset {
  display: flex;
  gap: 48px;
  padding: 0 28px 8px;
  margin: 0 0 24px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 78px;
  justify-content: center;
  align-items: flex-end;
}
fieldset:hover {
  border: 1px solid #000;
}

legend {
  font-weight: bold;
  margin-bottom: 8px;
  text-align: left;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
label {
  display: flex;

  align-items: start;
  gap: 8px;

  cursor: pointer;
}
input[type='radio'] {
  accent-color: #007bff;
  transform: scale(1.2);
  /* border: 1px solid #9e0c0c; */
  border-radius: 14px;
  width: 20px;
  height: 20px;
}

input[type='radio']:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
input[type='radio']:focus-visible {
  outline: 2px solid #4e75ff;
  outline-offset: 2px;
}

/* BUTTON */
button[type='submit'] {
  display: flex;
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  color: #fff;
  background: #4e75ff;
  border: none;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
}
button[type='submit']:hover {
  background: #6c8cff;
}
.iziToast-message {
  font-size: 18px !important;
}
