.controls,
.timer {
  display: flex;
  gap: 8px;
  align-items: center;
  margin: 20px;
}

#datetime-picker {
  padding: 0 16px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  outline: none;
}
#datetime-picker:focus {
  border: 1px solid #000;
}
#datetime-picker:active {
  border: 1px solid #4e75ff;
}

button[data-start] {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  width: 75px;
  height: 40px;
  cursor: pointer;
  background-color: #4e75ff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}
button[data-start]:hover:not([disabled]) {
  background: #6c8cff;
}
button[disabled] {
  cursor: not-allowed;
  background: #cfcfcf;
  color: #989898;
}

.timer {
  display: flex;
  gap: 12px;
}
.field {
  background: #fff;
  padding: 12px 16px;
  text-align: center;
  min-width: 40px;
}
.value {
  display: block;
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.label {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2e2f42;
  text-transform: uppercase;
}
